<div class="faq box">
  <ul>
    <li>
      <p class="question">What is it all about?</p>
      <p class="answer">
        With this tiny application, you can play <a href="http://www.parentsconnect.com/parenting-your-kids/activities/games/its_getting_hot_in_here.html">Hot n'Cold</a> game using your mobile browser. You need mobile phone with modern web browser and GPS module, and some uncovered area where you could play.
        <ol>
          <li>Create new game</li>
          <li>Set the secret spot</li>
          <li>Share game link with your friend</li>
          <li>Enjoy him wandering around town</li>
        </ol>
      </p>
    </li>
    <li>
      <p class="question">Why should I use it?</p>
      <p class="answer">For fun!</p>
    </li>
    <li>
      <p class="question">Why did you create it?</p>
      <p class="answer">You guessed it... for fun!</p>
    </li>
    <li>
      <p class="question">Could you add tracking, profiles etc?</p>
      <p class="answer">Sure, catch me on twitter and let's think about some cool extensions.</p>
    </li>
    <li>
      <p class="question">I have privacy concerns.. Is it safe?</p>
      <p class="answer">
        Yes. I'm not tracking you or gathering any information except Google Analitycs trafic data. 
      </p>
    </li>
  </ul>
</div>
