<div class="info box">
  <ul>
    <li class="step">
        <img src="images/marker.png">
        <p>mark secret spot position on a map</p>
    </li>
    <li class="step">
        <img src="images/envelope.png">
        <p>share game link with your friend</p>
    </li>
    <li class="step">
        <img src="images/compass.png">
        <p>Have a long break, until your friend finds the secret spot</p>
    </li>
  </ul>
  <div style="clear: both;"></div>
  <img src="images/iphone.jpg">
</div>
<a href="#spot" id="start" class="button">start</a>
