<div class="info box">
  <ul>
    <li class="step">
        <img src="images/marker.png">
        <p>mark secret spot</p>
    </li>
    <li class="step">
        <img src="images/envelope.png">
        <p>share game link</p>
    </li>
    <li class="step">
        <img src="images/compass.png">
        <p>enjoy one's wandering :)</p>
    </li>
  </ul>
  <div style="clear: both;"></div>
  <img src="images/iphone.png">

  <div class="social">
    <div class="fb-like" data-send="false" data-show-faces="false" data-layout="button_count"></div>
    <g:plusone size="medium"></g:plusone>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Hot’n’Cold game for the modern world" data-count="horizontal" data-via="biesiad">Tweet</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
</div>

<a href="#spot" id="start" class="button">start</a>

<script>FB.XFBML.parse();</script>
<script>
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
